In [5]:
import numpy as np
import pandas as np
import seaborn as sns
df=sns.load_dataset('tips')
print(df)

df.groupby('sex') ['total_bill'].agg(['mean','median','min','max','std'])
df['sex']= df['sex'].map({'Male':0,'Female':1})  # Optional
print(df)

another_df=sns.load_dataset('iris')
another_df
another_df['species'].unique()

setosa = another_df[another_df['species'] == "setosa"]
versicolor = another_df[another_df['species'] == "versicolor"]
virginica = another_df[another_df['species'] == "virginica"]

setosa.describe()
versicolor.describe()
virginica.describe()

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]
     total_bill   tip sex smoker   day    time  size
0         16.99  1.01   1     No   Sun  Dinner     2
1         10.34  1.66   0     No   Sun  Dinner     3
2         21.01  3.50   0     No   Sun  Dinner     3
3         23.68  3.31   0     No   Sun  Dinner     2
4         24.59  3.61   1     No   Sun  Dinner     4
..          ...   ...  ..    ...   ...     ...   ...
239       29.03  5.92   0     No   Sat  Dinner     3
240       27.18  2.00   1    Yes   Sat  Dinner     2
241       22.67  2.00   0    Yes   Sat  Dinner     2
242       17.82  1.75   0     No   Sat  Dinner     2
243       18.78  3.00   1     No  Thur  Dinner     2

[244 rows x 7 columns]

       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000     50.00000
mean        6.58800     2.974000      5.552000      2.02600
std         0.63588     0.322497      0.551895      0.27465
min         4.90000     2.200000      4.500000      1.40000
25%         6.22500     2.800000      5.100000      1.80000
50%         6.50000     3.000000      5.550000      2.00000
75%         6.90000     3.175000      5.875000      2.30000
max         7.90000     3.800000      6.900000      2.50000